---
import logo from "../assets/logo.png";
import ThemeIcon from './ThemeIcon.astro';
---
<div id="navbar">
    <div class="nav-left">
        <a href="/" class="logo">
            <img src={logo.src} alt="Site logo" />
        </a>
        <h1 class="nav-title" >Jay Hurt Hub</h1>
    </div>

    <div id="main-menu" class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/tags/">Tags</a>
        <ThemeIcon />
    </div>
</div>
